@media screen and (min-width: 1200px) {
  /* ===========HEADER+++++============!!!!==== */

  .header {
    padding-top: 22px;
    padding-bottom: 23px;
  }
  
  .link-mail {
    
    font-weight: 500;
  }

  .link-tel {
    font-weight: 500;
  }
  
  .header-contact {
    display: flex;
  }

  .link-nav.current::after {
    bottom: -25px;
  }
  
  .container {
    width: 1158px;
  }
  /* ==================HERO!+============ */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .overlay {
    height: 600px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;

    max-width: 496px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
  }

  .overlay {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          to right,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-desctop-2x\ .jpg);
    }
  }

  /* ============METHODS======= */

  .method > .container{
    max-width: 1158px;
  }

  .item-antenna {
    display: flex;
  }

  .method-list {
    display: flex;
    column-gap: 24px;
  }

  .method-item {
    margin-bottom: 0;
    flex-basis: calc((100% - 24px * 3) / 4);
  }

  .methods-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .methods-text {
    font-weight: 400;
  }

  .method {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* =====================What are we doing============= */
  .gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
    margin-bottom: 72px;
  
    
  }

  .gallery-list{
    display: flex;
    gap: 24px;
  }
  
  .gallery {
    display: flex;
    padding-bottom: 120px;
  }
  /* =========================OUR TEAM============== */

  .team > .container {
    min-width: 1158px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    column-gap: 24px;
  }

  .team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;

    color: var(--dark-color);
    margin-bottom: 72px;
  }

  /* ===================Customers===================== */

  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-item {
    flex-basis: calc((100% - 120px) / 6);
  }

  .customers-link {
    flex-basis: calc((100% - 120px) / 6);
  }

  .customers-list {
    display: flex;
    gap: 24px;
  }

  /* ===================FOOTER===++++======? */

  .footer > .container {
    max-width: 1158px;
  }

  .footer > .container {
    display: flex;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-left {
    display: block;
    margin-right: 0;
  }

  .footer-right {
    display: block;
  }

  .footer-social {
    text-align: left;
  }
  .footer-subscribe {
    margin-left: 80px;
  }
  .subscribe-title {
    text-align: left;
  }
  
  .footer-button {
    display: flex;
    height: 40px;
    margin-left: 0;
  margin-right: 0;
  margin-left: 24px;
  margin-left: auto;
  margin-right: auto;
  }
  .footer-lr {
    column-gap: 120px;
    margin-bottom: 0;
  }
  .footer-form {
    display: flex;
  }
  .input-subscribe {
    margin-bottom: 0;
    margin-right: 48px;
  }
}
