@media screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  /* =============TEAM============ */
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    width: calc((100% - 102px) / 4);
  }

  /* CUSTOMERS */

  .container-customers {
    width: 1170px;
  }
  .customers-list {
    gap: 24px;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }
}
