@media screen and (min-width: 480px) and (max-width: 767px) {

.header > .container {
  max-width: 450px;
}

.team > .container{
    max-width: 428px;
  }

  .customers > .container{
    max-width: 428px;
  }

  .method > .container{
    max-width: 428px;
  }

  .footer > .container {
    max-width: 428px;
  }

}