@media screen and (min-width: 768px) {
  .container {
    width: 582px;
  }

  /* ==================HEADER======================= */
  .container-header {
    width: 738px;
  }
  /* =====================hero============== */
  .hero-title {
    max-width: 494px;
    font-size: 55px;
    line-height: 1.07;
    margin-bottom: 40px;
  }

  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
  }

  .overlay {
    height: 436px;
  }
  /* =====================team============== */
  .team-item {
    width: calc((100% - 54px) / 2);
  }
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .gallery-list {
    gap: 24px;
    row-gap: 64px;
  }
  /*=================== customers=========== */
  .customers-list {
    gap: 24px;
    row-gap: 72px;
  }
  .container-customers {
    width: 582px;
  }

  .customers-item {
    width: calc((100% - 72px) / 3);
  }
}
