@media screen and (min-width: 768px) {

/* =================HEADER============= */
.button-open{
  display: none;
}

.link-nav {
  display: flex;
}

.link-mail {
  display: flex;
}

.link-tel {
  display: flex;
}

.link-nav.current::after {
  bottom: -24px;
}

.header-contact {
  display: block;
}

.header {
  padding-top: 10px;
  padding-bottom: 11px;
}


  /* ===============OUR TEAM ============== */

  .team > .container {
    max-width: 768px;
  }

  .team-list {
    row-gap: 62px;
  }

  .team-title {
    margin-bottom: 72px;
  }

  .team {
    padding-bottom: 104px;
  }

/* =======================METHODS+++++++++======== */
.method > .container{
  max-width: 768px;
}

.method-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px;
  
}

.method-item {
  margin-bottom: 0;
  width: 356px;
}

.methods-title {
  text-align: left;
}

  /* ===================+++++CUSTOMERS========== */

  .customers > .container {
    max-width: 588px;
  }

  .customers-link {
    flex-basis: calc((100% - 48px) / 3);
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  /* ===============+++++++++FOOTER============== */

  .footer > .container {
    max-width: 552px;
  }

  .footer-left {
    display: inline-block;
  }

  .footer-right {
    margin: 0px 0px 0px 24px;
  }

  .footer-left > .logo {
    display: inline-block;
  }

  .footer-lr {
    display: flex;
  }

  .footer-social {
    text-align: left;
  }

  .input-subscribe {
    width: 264px;
  }

  .footer-subscribe {
    text-align: left;
  }

  .footer-form {
    display: flex;
  }

  .footer-button {
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    margin-left: 24px;
  }
}

